# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\jingtong_yunyon_chuangzhao_VIPALL_NDK_YoudaoNote\XiangXueNDKAllVIP\ndk07\project\ClionCPP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
